* { margin:0; padding: 0; box-sizing: border-box; }
/* *+* { margin-top: 1.5em } */

html {
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  background: #0073c6;
}

body > header {
  width: 100%;
  padding: 0.5em 0.25em;
  text-align: center;
  color: #fff;
  background: #009f60;
}

h1 {
  font-size: 1.5em;
}

main {
  background: #fff;
  margin: auto;
  max-width: 600px;
}

.stop {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: inherit;
  overflow: hidden;
  position: relative;
}
.stop > h3 {
  font-weight: normal;
}
.stop-number {
  font-weight: bold;
  background: #0073c6;
  color: white;
  padding: 0.25em 0.25em;
  border-radius: 0.25em;
  font-style: italic;
  float: left;
  margin: 0.25em 0.25em 0 0;
}
.stop-routes {
  margin: 0.5em 0 0;
  padding: 0;
  color: grey;
}
.stop-routes > h4 {
  display: inline;
  font-weight: normal;
  font-size: 1em;
}
.stop-routes > h4::after {
  content: ":";
}
.stop-routes > ul {
  display: inline;
  list-style-type: none;
}
.stop-routes > ul > li {
  display: inline;
}
.stop-routes > ul > li:nth-last-child(n+2)::after {
  content: ', ';
}
@supports (display: grid) {
  .stop {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 4em auto;
    grid-template-rows: auto auto;
    grid-gap: 0 0.5em;
    grid-template-areas:
    "number name"
    "number routes"
    ;
  }
  .stop > h3 { grid-area: name; }
  .stop-number {
    grid-area: number;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stop-routes {
    grid-area: routes;
    margin: 0;
    padding: 0;
    align-self: start;
  }
}

form {
  display: flex;
  position: sticky;
  top: -1.5em;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0, 0.2);
}

.formItem {
  display: flex;
  flex-direction: column;
  flex: auto;
  line-height: 1.5em;
  padding: 0.25em;
  justify-content: space-between;
}

input, select {
  font-size: 1em;
  line-height: 1.5em;
  height: calc(2em + 2px);
  padding: 0.25em;
  font-family: inherit;
}

input[type=submit] {
  margin: auto 0 0;
  /* padding: 0.25em 1em; */
  font-weight: bold;
  color: rgba(0,0,0, 0.75);
  text-shadow: 1px 1px 1px rgba(255,255,255, 0.3);
  background: #009f60 linear-gradient(0, rgba(0,0,0, 0.1), rgba(0,0,0, 0));
  box-shadow:
    inset 0px 1px 2px 0px rgba(255,255,255, 0.3),
    0px 1px 4px 0px rgba(0,0,0, 0.3);
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 0.125em;
}

input[type=submit]:active {
  background: #009f60 linear-gradient(0, rgba(0,0,0, 0), rgba(0,0,0, 0.1));
  text-shadow: -1px -1px 1px rgba(255,255,255, 0.3);
}
